@import url("./commonStyles.css");
#game-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#color-display {
    font-size: 48px;
    margin: 20px 0;
}

.letter {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 5px;
    cursor: move;
    text-align: center;
    line-height: 40px;
}