@import url("./commonStyles.css");

h2 {
    font-size: larger !important;
}

#game-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

#color-display {
    font-size: 48px;
    margin: 20px 0;
    padding: 50px;
    clear: both;
}

#letters {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    height: 60px;
    clear: both;
    background-color: aliceblue;
}

#answer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    height: 60px;
    clear: both;
}

.letter {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #eee;
    cursor: move;
    text-align: center;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.answer-space {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid #333;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

#verify {
    display: flex;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}