@import url("./commonStyles.css");


#tarjeta{
    margin-top: 25%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
#cabecera {
    background-color: rgb(174, 109, 204);
}

.col-md-5 img {
    margin-top: 20%;
    max-width: 80%;
  }


#Umberto{
    max-height: 30%;
}

#burbuja{
    max-height: 100%;
}

.card-body{
    background-color: rgba(212, 171, 232, 0.311);
}

