@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

/* Para navegadores webkit */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ff69b4;
  border-radius: 10px;
}

html {
  scrollbar-color: #ffa3d1 #fff;
  scrollbar-base-color: #ff8dd7;
}


h1 {
  background-color: #dfa7fb;
  border-color: #f1c5ff;
  border: width 2%;
  color: #3B0A80
  !important
}

.row-custom {
  height: 20vh;
}

.btn-custom {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid transparent;
}

svg {
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.svgColores{
  background-image: url("../resources/botonesTemas/FullBotonColores.svg");  
}

.svgAnimales{
  background-image: url("../resources/botonesTemas/FullBotonAnimales.svg");  
}

.svgNumeros{
  background-image: url("../resources/botonesTemas/FullBotonNumeros.svg");  
}

.svgSoonMore{
  background-image: url("../resources/botonesTemas/FullBotonSoonMore.svg");
}

.svgFlechaDer{
  background-image: url("../resources/flechasPracticeMode/flechaDer.svg");
  float: left;
}

.svgFlechaIzq{
  background-image: url("../resources/flechasPracticeMode/flechaIzq.svg");
  float: right;
}
.svgBoton{
  height: 100%;
  width: 100%;
}


@media (max-width: 768px) {
  .svgColores{
  background-image: url("../resources/botonesTemas/FullBotonColoresBig.svg");
}
.svgFlechaDer{
  background-image: url("../resources/flechasPracticeMode/flechaBigDer.svg");
}
.svgNumeros{
  background-image: url("../resources/botonesTemas/FullBotonNumerosBig.svg");
}
.svgAnimales{
  background-image: url("../resources/botonesTemas/FullBotonAnimalesBig.svg");
}
.svgSoonMore {
  background-image: url("../resources/botonesTemas/FullBotonSoonMoreBig.svg");
}
}

@media (min-width: 992px) {
  .svgAnimales{
  background-image: url("../resources/botonesTemas/FullBotonAnimalesBig.svg");
  
}

.svgNumeros{
  background-image: url("../resources/botonesTemas/FullBotonNumerosBig.svg");
}
.svgColores{
  background-image: url("../resources/botonesTemas/FullBotonColoresBig.svg");
}
.svgFlechaDer{
  background-image: url("../resources/flechasPracticeMode/flechaDer.svg");
}

.svgSoonMore {
  background-image: url("../resources/botonesTemas/FullBotonSoonMoreBig.svg");
}
}

.col-custom {
  max-width: 100%;
  max-height: 100%;
}

@keyframes salta {
  0% { transform: translateY(0); }
  25% { transform: translateY(-20px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

button.no-style {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

