@import url("./commonStyles.css");

h1 {
    color: rgb(51, 165, 171);
    text-align: center;
    padding-top: 80px;
}

#Animals {
    height: 480px;
    max-width: 1000px;
}

#Animals div div {
    width: 170px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 10px;
    border-radius: 60px;
    height: 170px;
}

#Animals div .row {
    height: 480px
}

#Animals img {
    width: 150px;
}

.hover-text {
    text-align: center;
    margin: auto;
    color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 10px;
    border-radius: 60px;
    width: 150px;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: aliceblue;

    position: relative;
    bottom: 155px;
}

.hover-text:hover {
    opacity: 0.8;
}

#lion .hover-text {
    bottom: 140px;
}