@import url("./commonStyles.css");

h1 {
    text-align: center;
    padding-top: 80px;
}

.card {
    min-width: 110px !important;
    margin-bottom: 15px;
}

.card-img-top {
    max-width: 130px;
    height: 130px;
    margin: auto;
}

#a1 .card-img-top,
#a4 .card-img-top {
    max-width: unset;
}

.col {
    max-width: 160px;
    min-width: 114px;
}

.col #elementos {
    max-width: fit-content;
}

.col #Umberto {
    max-width: fit-content;
}

#Umberto img {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 149px;
}

.card .card-body {
    background-color: #a8a8a8;
}

.card.selected .card-body {
    background-color: aqua;
}

.card {
    cursor: pointer;
}