@import url("../commonStyles.css");

h1 {
    color: rgb(51, 165, 171);
    text-align: center;
    padding-top: 80px;
}

#PaletaDiv {
    height: 480px;
    width: 480px;
    background-image: url("../../resources/PaletaEstudio.png");
    background-size: cover;
}

#PaletaDiv div {
    width: 130px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 10px;
    border-radius: 60px;
    height: 110px;
}

.hover-text {
    text-align: center;
    margin: auto;
    color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 10px;
    border-radius: 60px;
    width: 110px;
    height: 90px;
}

.hover-text:hover {
    opacity: 1;
}

.green {
    top: 145px;
    right: 143px;
    background-color: #009B51;
}

.purple {
    top: 145px;
    right: 143px;
    background-color: #a103a3;
}

.red {
    bottom: 70px;
    right: 22px;
    background-color: #FF473E;
}

.aqua {
    bottom: 70px;
    right: 22px;
    background-color: aqua;
}

.blue {
    bottom: 120px;
    left: 120px;
    background-color: #0074A8;
}

.blue h3 {
    color: aliceblue;
}

.black {
    bottom: 120px;
    left: 120px;
    background-color: black;
}

.black h3 {
    color: aliceblue;
}

.yellow {
    bottom: 85px;
    left: 138px;
    background-color: #FFD469;
}

.yellow h3 {
    padding: 0px;
    padding-top: 10px;
}

.orange {
    bottom: 85px;
    left: 138px;
    background-color: #fa8500;
}

.orange h3 {
    padding: 0px;
    padding-top: 10px;
}

.white {
    bottom: 100px;
    left: 18.5px;
    background-color: #FFFFFF;
}

.gray {
    bottom: 100px;
    left: 18.5px;
    background-color: rgb(137, 137, 137);
}

div button.paramostrarcolors {
    background-color: #85d8e8;
    height: 130px;
    width: 550px;

    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    align-self: center;
}

div#pamostrarcolors {
    position: absolute;
    top: 50%;
    left:35%;
}

#PaletaDiv div p {
    font-size: 21pt;
}

.blue p, .black p{
    color: #ffffff;
}